/* RESET */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: #EBE5DF;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  display: none;
}

