input, textarea {
  display: block;
  width: 100%;
  background: #D8CFC5;
  color: #1E1A10;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.125rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  color: #1E1A10;
}