/* BANNER */
.banner img {
  width: 100%;
}

[data-slide-nav] {
  margin-top: 0;
  position: relative;
  top: -27px;
}

/* VANTAGENS */
.vantagens li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vantagens .icon {
  margin-right: 10px;
}

.vantagens p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  color: #1E1A10;
  margin-right: 10px;
}