/* LISTA DE PRODUTOS */
.produtos-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media (max-width: 800px) {
  .produtos-lista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 460px) {
  .produtos-lista {
    grid-template-columns: 1fr;
  }
}

/* GRID PRODUTOS PAGINA DE ARQUIVO */
@media (max-width: 1000px) {
  .archive .produtos-lista {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* PRODUTO ITEM */
.produto-item {
  position: relative;
}

.produto-item .preco {
  font-family: Georgia, serif;
  font-size: 1.125rem;
  color: #1E1A10;
  background: #CCBDAD;
  padding: 10px 15px;
  position: relative;
  top: -15px;
}

.produto-item .preco del{
  color: #807A6C;
}

.produto-item h2{
  font-family: Georgia, serif;
  font-size: 1.125rem;
  color: #1E1A10;
}

.produto-item p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  color: #8A8274;
}

/* OVERLAY */
.produto-item a {
  display: grid;
}

.produto-info {
  grid-area: 1/1;
}

.produto-overlay {
  opacity: 0;
  grid-area: 1/1;
  background: rgba(30, 26, 16, 0.2);
  z-index: 1;
  display: flex;
  transition: opacity .3s;
}

.produto-overlay .btn-link {
  width: 100%;
}

.produto-overlay:hover {
  opacity: 1;
} 

.produto-overlay span {
  margin: auto; 
}
/* OFERTA */
.produtos-lista .oferta::before {
  content: 'Oferta';
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 0.6875rem;
  padding: 5px;
  border-radius: 5px;
  background: #1E1A10;
  color: #FFF;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* BREADCRUMB */
.breadcrumb {
  margin: 15px 0;
  font-family: 'Roboto', sans-serif ;
  font-size: 0.875rem;
  color: #332D21;
}

.woocommerce-breadcrumb {
  margin-bottom: 15px;
}

.woocommerce-breadcrumb a {
  color: #332D21;
}

/* ARQUIVO */
.products-archive {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 270px 1fr;
  margin-bottom: 60px;
}

@media (max-width: 800px) {
  .products-archive {
    grid-template-columns: 1fr;
  }
}


/* PAGINAÇÃO */
.pagination {
  margin-top: 30px;
}

.pagination .page-numbers {
  padding: 5px 10px;
  background: #E1DAD1;
  border: 3px solid #E1DAD1; 
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  color: #1E1A10;
}

.pagination .current, 
.pagination .page-numbers:hover {
  border: 3px solid #CCBDAD; 
}

.pagination .next,
.pagination .prev {
  background: transparent;
  border: none;
}

.pagination .next:hover, 
.pagination .prev:hover {
  border: none;
  color: #CCBDAD;
}

/* FILTRO */
.filtro {
  background: #E1DAD1;
  padding: 30px;
  align-self: start;
  border: 3px solid #CCBDAD;
}

@media (max-width: 800px) {
  .filtro {
    grid-row: 2;
  }
  .filtro::before {
    content: 'Filtrar Resultados';
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #1E1A10;
    display: block;
    margin-bottom: 30px;
  }
}

.filtro-item h2 {
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: #1E1A10;
}

.filtro-item ul {
  border-bottom: 3px solid #CCBDAD !important;
  border-top: 3px solid #CCBDAD !important;
  padding: 10px 0 !important;
  margin: 10px 0 !important;
}

.filtro-item a {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  color: #1E1A10;
  margin-bottom: 5px;
}

.filtro-item li a:hover,
.filtro-item li.current-menu-item a {
  color: #99782F;
  font-weight: bold;
}

/* FILTRO ATTRIBUTE */
.filtro-attribute .count {
  display: none;
}

.filtro-attribute li a::before { /* REMOVE ESTILO DO CHOSEN */
  display: none;
}

.filtro-attribute li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filtro-attribute li a::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 3px solid #CCBDAD;
}

.filtro-attribute li a:hover,
.filtro-attribute li.chosen a {
  color: #99782F;
  font-weight: bold;
}

.filtro-attribute li a:hover::after,
.filtro-attribute li.chosen a::after {
  background: #99782F;
}

/* FILTRO PRECO */
.filtro-preco {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(60px, 70px) minmax(auto, 100px);
  align-items: center;
}

.filtro-preco input {
  font-size: 0.875rem;
  padding: 10px;
  max-width: 100px;
  border-radius: 5px;
  border: 1px solid #CCBEAD;
}

.filtro-preco button {
  grid-column: span 2;
  background: #807A6C;
  border: none;
  color: #FFF;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filtro-preco button:hover {
  background: #4D483D;
}

/* ORDEM */
.woocommerce-ordering {
  margin-bottom: 20px;
  margin-left: auto;
  float: none !important;
}
