/* FORMULARIO */
.formphp label.nao-aparece, .formphp input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	margin-bottom: 10px;
	display: block;
}

#form-send {
	color: $verde;
}

#form-erro {
	color: $vermelho;
}

.contato .form label {
	display: block;
	color: $preto;
	margin-bottom: 5px;
}

.contato .form input,
.contato .form textarea {
	color: $preto;
	display: block;
	padding: 15px;
  border-radius: 5px;
	border: 1px solid $bege-escuro;
	width: 100%;
	margin-bottom: 15px;
	@include type-1(18);
}


.contato .form button {
	border: none;
	background: $dourado;
	color: $branco;
	border-radius: 5px;
	padding: 15px 30px 12px 30px;
	cursor: pointer;
	@include type-1(18);
}
.contato .form button:hover {
	background: $dourado-medio;
}
/* Contato */

.contato {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 60px;
}

.contato h1 {
	grid-column: span 2;
}

.contato-dados {
	margin-left: 60px;
}

.contato-dados h3{
	font-weight: bold;
	color: $preto;
	margin-bottom: 5px;
	@include type-2(18);
}

.contato-dados p {
	color: $cinza;
	margin-bottom: 30px;
	@include type-1(14);
}

.social-icons {
	display: flex;
}

.social-icons li + li{
	margin-left: 10px;
}

@media (max-width: 800px) {
	.contato {
		grid-template-columns: 1fr;
	}

	.contato h1 {
		grid-column: auto;
	}

	.contato-dados {
		margin-left: 0;
		margin-bottom: 30px;
		grid-row: 2;
	}
}