/* LISTA DE PRODUTOS */
.produtos-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media (max-width: 800px) {
  .produtos-lista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 460px) {
  .produtos-lista {
    grid-template-columns: 1fr;
  }
}

/* GRID PRODUTOS PAGINA DE ARQUIVO */
@media (max-width: 1000px) {
  .archive .produtos-lista {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* PRODUTO ITEM */
.produto-item {
  position: relative;
}

.produto-item .preco {
  color: $preto;
  background: $bege-escuro;
  padding: 10px 15px;
  position: relative;
  top: -15px;
  @include type-2(18);
}

.produto-item .preco del{
  color: $cinza;
}

.produto-item h2{
  color: $preto;
  @include type-2(18);
}


/* OVERLAY */
.produto-item a {
  display: grid;
}

.produto-info {
  grid-area: 1/1;
}

.produto-overlay {
  opacity: 0;
  grid-area: 1/1;
  background: rgba(30, 26, 16, 0.2);
  z-index: 1;
  display: flex;
  transition: opacity .3s;
}

.produto-overlay .btn-link {
  width: 100%;
}

.produto-overlay:hover {
  opacity: 1;
} 

.produto-overlay span {
  margin: auto; 
}
/* OFERTA */
.produtos-lista .oferta::before {
  content: 'Oferta';
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  background: $preto;
  color: $branco;
  position: absolute;
  top: 10px;
  left: 10px;
  @include type-1(11);
}

/* BREADCRUMB */
.breadcrumb {
  margin: 15px 0;
  color: $marrom-escuro;
  @include type-1(14);
}

.woocommerce-breadcrumb {
  margin-bottom: 15px;
}

.woocommerce-breadcrumb a {
  color: $marrom-escuro;
}

/* ARQUIVO */
.products-archive {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 270px 1fr;
  margin-bottom: 60px;
}

@media (max-width: 800px) {
  .products-archive {
    grid-template-columns: 1fr;
  }
}


/* PAGINAÇÃO */
.pagination {
  margin-top: 30px;
}

.pagination .page-numbers {
  padding: 5px 10px;
  background: $bege-medio;
  border: 3px solid $bege-medio; 
  color: $preto;
}

.pagination .current, 
.pagination .page-numbers:hover {
  border: 3px solid $bege-escuro; 
}

.pagination .next,
.pagination .prev {
  background: transparent;
  border: none;
}

.pagination .next:hover, 
.pagination .prev:hover {
  border: none;
  color: $bege-escuro;
}

/* FILTRO */
.filtro {
  background: $bege-medio;
  padding: 30px;
  align-self: start;
  border: 3px solid $bege-escuro;
}

@media (max-width: 800px) {
  .filtro {
    grid-row: 2;
  }
  .filtro::before {
    content: 'Filtrar Resultados';
    color: $preto;
    display: block;
    margin-bottom: 30px;
  }
}

.filtro-item h2 {
  font-weight: bold;
  color: $preto;
  @include type-2(18);
}

.filtro-item ul {
  border-bottom: 3px solid $bege-escuro !important;
  border-top: 3px solid $bege-escuro !important;
  padding: 10px 0 !important;
  margin: 10px 0 !important;
}

.filtro-item a {
  display: block;
  color: $preto;
  margin-bottom: 5px;
  @include type-1(14);
}

.filtro-item li a:hover,
.filtro-item li.current-menu-item a {
  color: $dourado-medio;
  font-weight: bold;
}

/* FILTRO ATTRIBUTE */
.filtro-attribute .count {
  display: none;
}

.filtro-attribute li a::before { /* REMOVE ESTILO DO CHOSEN */
  display: none;
}

.filtro-attribute li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filtro-attribute li a::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 3px solid $bege-escuro;
}

.filtro-attribute li a:hover,
.filtro-attribute li.chosen a {
  color: $dourado-medio;
  font-weight: bold;
}

.filtro-attribute li a:hover::after,
.filtro-attribute li.chosen a::after {
  background: $dourado-medio;
}

/* FILTRO PRECO */
.filtro-preco {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(60px, 70px) minmax(auto, 100px);
  align-items: center;
}

.filtro-preco input {
  padding: 10px;
  max-width: 100px;
  border-radius: 5px;
  border: 1px solid $bege-escuro;
  @include type-1(14);
}

.filtro-preco button {
  grid-column: span 2;
  background: $cinza;
  border: none;
  color: $branco;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filtro-preco button:hover {
  background: $marrom-escuro;
}

/* ORDEM */
.woocommerce-ordering {
  margin-bottom: 20px;
  margin-left: auto;
  float: none !important;
}
